.DS_Store
.git/
.github/
.husky/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.pub/
.pub-cache/
build/
coverage/
deploy/
docs/
node_modules/
output/
test/

*.db
*.db-*
*.log

CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
README.md
package.json
package-lock.json
